
body {
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 187, 138);
    text-align: center;
    justify-content: center;
    
}

h1 {
    flex-direction: column-reverse;
    border-radius: 3cm;

}

button {
    background-color: rebeccapurple;
    justify-content: space-around;
    box-shadow: 1cm;
}
p {
    border-radius: 50%;
    width: 100%;
        
}